name: Bulid CI

on:
  workflow_dispatch: 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 18
      uses: actions/setup-java@v4
      with:
        java-version: '18'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew assembleminidebug
      
    - name: Archive artifacts
      uses: actions/upload-artifact@v4
      with:
        name: outputs-apk-app
        path: app/build/outputs/apk/mini/debug/*.apk
