name: Build Release APK

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version Number (e.g. 3.0)'
        required: true
        default: ''
jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 18
      uses: actions/setup-java@v4
      with:
        java-version: '18'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build Release APK
      run: ./gradlew assembleRelease

    - name: Sign APK
      id: sign_app
      uses: ilharp/sign-android-release@v1
      with:
        releaseDir: app/build/outputs/apk/release
        signingKey: ${{ secrets.KEY }}
        keyAlias: KEY                                    
        keyStorePassword: ${{ secrets.KEY_PASSWORD }} 
        keyPassword: ${{ secrets.KEY_PASSWORD }}
        buildToolsVersion: 34.0.0

    - name: Rename APK
      run: |
        cd app/build/outputs/apk/release
        mv *-signed.apk DSU-Sideloader.apk

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: app/build/outputs/apk/release/DSU-Sideloader.apk
        tag_name: v${{ inputs.version }}
        name: Release v${{ inputs.version }}}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Upload Release APK
      uses: actions/upload-artifact@v4
      with:
        name: Release-APK

        path: app/build/outputs/apk/release/DSU-Sideloader.apk
